/* Inria serif */
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Paprika */
@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@theme {
   --font-Poppins: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --font-Paprika: "Paprika", Georgia, "Times New Roman", serif;
  --font-Inria: "Inria Serif", Georgia, "Times New Roman", serif;

  --color-dark_primary: #06223F;
  --color-light_primary: #F5F9FD;
  --color-gray: #B7C5D3;
  --color-primary-linear: linear-gradient(180deg, #B6CCF5 0.48%, #D5E3F1 100%);
  --drop-shadow-primary: -5px 35px 40px rgba(223, 229, 236, 0.9);

}

/* optional small helper to use CSS variables in utilities/components */
.theme-font-poppins { font-family: var(--font-Poppins); }
.theme-font-paprika { font-family: var(--font-Paprika); }
.theme-font-inria { font-family: var(--font-Inria); }

.gradient-primary {
  background: linear-gradient(180deg, #B6CCF5 0.48%, #D5E3F1 100%);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    @apply text-dark_primary;
  }
  h1 {
    @apply font-Poppins lg:text-6xl text-3xl font-extrabold;
  }
  h2 {
    @apply font-Inria text-5xl font-bold;
  }
  h3 {
    @apply font-Paprika text-5xl;
  }
  h4 {
    @apply md:text-4xl text-3xl leading-relaxed! font-Paprika;
  }
  h5 {
    @apply md:text-2xl text-2xl leading-relaxed! font-Paprika;
  }
  h6 {
    @apply font-Paprika font-bold text-[#253D57] leading-8;
  }

  p {
    @apply font-Poppins text-[0.95rem];
  }
  button {
    @apply font-Poppins;
  }
  input,
  textarea {
    @apply bg-transparent outline-none font-Poppins;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 4rem;
}

@layer components {
  .btn {
    @apply py-2 px-9 border-2 rounded-md
     border-dark_primary rounded-br-3xl font-medium;
  }

  .btn-left {
    @apply py-2 px-9 border-2 rounded-md
     border-dark_primary rounded-bl-3xl font-medium;
  }
  .btn-default {
    @apply py-2 px-9 border-2
     border-dark_primary rounded-3xl font-medium;
  }
  .title {
    @apply md:text-3xl text-2xl;
  }
  .subtitle {
    @apply text-gray;
  }
}

.swiper-pagination-bullet {
  @apply w-3 h-3 bg-dark_primary;
}